.contacts-section {
    max-width: 600px;
    margin: 80px auto 120px auto; 
    text-align: center;
}

.contacts-subtitle {
    color: #a0a0a0;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 30px;
}


.contacts-grid {
    display: flex;
    justify-content: space-between; 
    gap: 15px;
}


.contact-card {
    flex: 1; 
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #5c5757; 
    border: 1px solid #3d3a3a;
    padding: 15px;
    border-radius: 12px;
    text-decoration: none; 
    transition: all 0.3s ease;
}


.contact-icon {
    width: 40px;
    height: 40px;
    background-color: #312f2f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff3232;
    font-family: 'Isometra', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #000000;
}


.contact-info {
    text-align: left;
}

.contact-info h4 {
    color: #ffffff;
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
}

.contact-info span {
    color: #a0a0a0;
    font-family: sans-serif;
    font-size: 12px;
}


.tg-card:hover {
    border-color: #0088cc;
    box-shadow: 0 0 15px rgba(0, 136, 204, 0.4);
    transform: translateY(-3px);
}
.tg-card:hover .contact-icon {
    color: #0088cc;
    border-color: #0088cc;
}


.gh-card:hover {
    border-color: #ff0080;
    box-shadow: 0 0 15px rgba(255, 0, 128, 0.4);
    transform: translateY(-3px);
}
.gh-card:hover .contact-icon {
    color: #ff0080;
    border-color: #ff0080;
}


.ds-card:hover {
    border-color: #5865F2;
    box-shadow: 0 0 15px rgba(88, 101, 242, 0.4);
    transform: translateY(-3px);
}
.ds-card:hover .contact-icon {
    color: #5865F2;
    border-color: #5865F2;
}


@media (max-width: 600px) {
    .contacts-grid {
        flex-direction: column;
    }
    .contact-card {
        width: 100%;
        box-sizing: border-box;
    }
}